<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판-로그인</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header th:replace="header::header"></header>
    <div class="login_container">
        <div class="login_wrap">
            <p class="login_tit">회원 로그인</p>
            <div class="login_frm_wrap">
                <form action="/board/login" method="post">
                    <div class="frm_id">
                        아이디 <input type="text" name="memberId" autofocus>
                    </div>
                    <div class="frm_pw">
                        비밀번호 <input type="password" name="memberPw">
                    </div>
                    <input type="submit" value="로그인" id="submit_btn">
                </form>
                <a href="/oauth2/authorization/google" id="google_ico"></a>
            </div>
            <div class="go_reg_wrap">
                <span>아직 회원이 아니신가요?</span>
                <a href="/board/register">가입하기</a>
            </div>
        </div>
    </div>
    <footer th:replace="footer::footer"></footer>
</body>
</html>