<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판-로그인</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="header::header"></header>
    <div class="login_container reg_form">
        <div class="login_wrap">
            <p class="login_tit">회원정보수정</p>
            <div class="login_frm_wrap">
                <form action="/board/mypage_success" method="post">
                    <div class="frm_id">
                        아이디 <input type="text" name="memberId" th:placeholder="${member.memberId}" readonly>
                    </div>
                    <div class="frm_pw">
                        비밀번호 <input type="password" name="memberPw">
                    </div>
                    <div class="frm_nic">
                        닉네임 <input type="text" name="memberNic">
                    </div>
                    
                    <input type="submit" value="정보수정" id="submit_btn">
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="footer::footer"></footer>
</body>
</html>